.main_footer {

    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
}
.address_sections {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_footer_Fig {
    width: 100px;
    height: 100px;
}